.friendList{
    display: flex;
   flex-wrap: wrap-reverse;
   flex-direction: column;
  margin: 0 auto;
  width: 200px;
}
.item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.status{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 10px;
}
.red{
    composes : status;
    background-color: red;
}
.green{
    composes : status;
    background-color: green;
}
